# Eclipse
.classpath
.project
.settings/
.checkstyle

# Intellij
.idea/
*.iml
*.iws
*.ipr


# Mac
.DS_Store

# Maven
log/
target/

*.log
build/

#vagrant
.vagrant/
*.box


# Enterprise Architect
*.ldb

*.bak

k8s/

